<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="OnlineBookStoreConnectionString" connectionString="Integrated Security=SSPI;Persist Security Info=False;User ID=sa;Initial Catalog=OnlineBookStore;Data Source=(local)" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>